body{

	font-family:-apple-system !important;
	overflow-x:hidden;

}

#header{
	width:100%;
	height:60px;
	position:fixed;
	left:0;
	top:0;
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-backdrop-filter:blur(5px);
	-webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
}

#demo{
	width:112.1%;
	height:150px;
	margin-left:-10%;
	margin-top:60;

}

.owl-pagination{
	display:none;
}

.first{
	margin-top: 60;
}

.section-title{
	margin-left: 35;
}

.widgets{
	width:100%;
	border-bottom: 1px solid rgba(118, 118, 118, 0.5);
	position:relative;
	margin-left:-10%;
	width:112.1%;
}

.apps{
	
	height:80;
	margin-left:40;
	width:90%;
	margin-top:-20;
	
}

.icon{
	width:80;
	height:80;
	display:relative;
	border-radius:15px;
	margin-left:5px;

}

.long-icon{
	width:160;
	height:80;
	display:relative;
	border-radius:15px;
	margin-left:5px;

}

.empty{
	visibility:hidden;
	width:10;
}
.info{
	position:absolute;
	right:5;
	top:25;
}

.back{
	position:absolute;
	left:5;
	top:25;
	width:25px;
}

.app-buttons{
	padding-left:20px;
	padding-right:20px;
}

.icon-large{
	width:120px;
	height:120px;
	border-radius:15px;
	margin-top:20px;
	margin-left:20px;
}

.buy-button{
	width:50;
	position: absolute;
	right: 20;
	top: 150;
}

.app-name{
	font-size: 20;
	position: absolute;
	left: 150;
	top: 70;
}

.app-type{
	position: absolute;
	top: 101;
	left:150;
	font-size: 15;
}

.app-author{
	position: absolute;
	top: 121;
	left:150;
	font-size: 15;
}

.widget-screenshot{
	height:350;
	width:auto;
	padding-left:5;
	padding-right:5;
}

.screenshots-tab{
	margin-left:0;
	margin-top:10;
	overflow-x:scroll;
	overflow-y:hidden;
	width:100%;
	
}

.icon-scroll{
	margin-left:-10;
	overflow-x:scroll;
	overflow-y:hidden;
	height:120;
	width:103%;
}


#information{
	margin-left:10;
	margin-bottom:10;
}

#description{
	margin-left:10;
}

.hidden{
	display:none;
}


#about-info{
	margin-top: 100;
}

#its-me{
	width: 300px; 
	height: auto; 
	border-radius:10px;
}


#break{
	height:70px;
}

.app-list{
	border-bottom: 1px solid rgba(118, 118, 118, 0.5);
	height: 100;
}

.app-list-number{
	margin-top: 20;
	float: left;
	margin-right: 20;
	margin-left:20;
	font-size: 40;
}

.app-list-number-2{
	margin-top: 20;
	float: left;
	margin-right: 10;
	margin-left:10;
	font-size: 40;
}

.app-list-category{
	position: relative;
	top: -100;
	left: 150;
	width: 100;
}

.app-list-name{
	position: relative;
	top: -80;
	left: 150;
	width: 200;
}

.app-list-icon{
	margin-top: 10;
}

.view-button{
	float: right;
	margin-top: -60;
	width:60;
	
}

#quick-links{
	padding-top: 15;
}

.wallpaper-thumb{
	width: 150;
	height: auto;
	border-radius: 5px;
	margin:10;
	-webkit-box-shadow: 0px 0px 51px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 51px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 51px -10px rgba(0,0,0,0.75);
}


/*Attempt to fix scaling*/

@media screen and (height: 736px) {
    #quick-links {
        margin-top: 70px;
    }
}

@media screen and (width: 736px) {
    #quick-links {
        margin-top: 260px;
    }
    
    .apps{
	margin-left:30px;
    }
    
    .section-title{
	margin-left:80;
    }
}

@media screen and (height: 736px) {
    #quick-links {
        margin-top: 70px;
    }
}

@media screen and (width: 568px) {
    #quick-links {
        margin-top: 160px;
    }
    
    .apps{
	margin-left:30px;
    }
    
    .section-title{
	margin-left:80;
    }
}

@media screen and (width: 480px) {
    #quick-links {
        margin-top: 110px;
    }
    
    .apps{
	margin-left:10px;
    }
    
    .section-title{
	margin-left:60;
    }
}

@media screen and (width: 768px) {
    #quick-links {
        margin-top: 270px;
    }
    
    .apps{
	margin-left:40px;
    }
    
    .section-title{
	margin-left:90;
    }
}

@media screen and (width: 1024px) {
    #quick-links {
        margin-top: 420px;
    }
    
    .apps{
	margin-left:60px;
    }
    
    .section-title{
	margin-left:110;
    }
}

/*Owl Stuff*/

ul {list-style:none; display:block;white-space:nowrap;}
li {width: 100px;display:inline;}

    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
        <!--max-height:200;-->

    }